.complete {
    /* padding-top: 50px; */
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
}
.complete .fas {
    font-size: 60px;
    color: #f27507;
}
.circle-base {
    border: 5px solid gray;
    border-radius: 1000px;
    height: 100px;
    width: 100px;
    margin-top: 100px;
}
/* animation */
.complete .fas {
    animation-name: bounce;
    animation-duration: 2s;
    position: relative;
    top: 100px;
    color: #3fa535;
}

@keyframes bounce {
    0% {
        top: 100px;
        color: #3fa535;
    }
    50% {
        color: #f27507;
        top: 0px;
    }
    100% {
        color: #3fa535;
        top: 100px;
    }
}
