body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
#login-grid {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.26);
    border: 2px solid #000;
    align-items: center;
    grid-template-areas:
        ". lo ."
        ". hl ."
        ". us ."
        ". pa ."
        ". fpa ."
        ". btn .";
}
/* logo */
.item-1 {
    grid-area: lo;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* headline */
.item-2 {
    grid-area: hl;
    text-align: center;
    padding-bottom: 10px;
}
/* username */
.item-3 {
    grid-area: us;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* password */
.item-4 {
    grid-area: pa;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* forgot password */
.item-5 {
    grid-area: fpa;
    padding-bottom: 10px;
    text-align: center;
}
.item-5 a {
    text-decoration: underline;
    color: #000;
}
.item-5 a:hover {
    color: #f27507;
}
/* login btn */
.item-6 {
    grid-area: btn;
    text-align: center;
}
.site-logo {
    width: 100px;
    height: auto;
}

/* login */
#login-grid text {
    text-align: center;
    margin-bottom: 10px;
}
#login-grid input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    max-width: 70%;
    margin-bottom: 10px;
    border: 2px solid #000;
    background-color: #fff;
}
#login-grid label {
    /* display: flex;
    float: inline-start; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* button login and hyperlinks */
.login-btn {
    background-image: linear-gradient(
        92.88deg,
        #15922a 9.16%,
        #48a457 43.89%,
        #15922a 64.72%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    height: 3rem;
    text-align: center;
    transition: all 0.5s;
    user-select: none;
    width: 150px;
}
.login-btn:hover {
    box-shadow: rgba(242, 117, 7, 0.658) 0 1px 30px;
    transition: 0.1s;
}
/* media login page */
@media only screen and (min-width: 600px) {
    #login-grid input {
        max-width: 50%;
    }
}
@media only screen and (min-width: 900px) {
    #login-grid input {
        max-width: 30%;
    }
}
