body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #2d4459;
}
/* login */
.login-button {
    position: relative;

    border: 1px solid #000;
    width: 200px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 50px;
}
.login-button:hover {
    box-shadow: 1px 2px 1px rgba(41, 40, 40, 0.719);
    background: rgb(242, 117, 7);
    background: linear-gradient(
        0deg,
        rgba(242, 117, 7, 1) 24%,
        rgba(45, 68, 89, 1) 100%
    );
    color: #fff;
}
#show {
    display: none;
}
#show:checked ~ #login-container {
    display: block;
}
#login-container {
    /* display: flex; */
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20%;
    justify-content: space-around;
    border: 2px solid #000;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.26);
}
#login-container text {
    text-align: center;
    margin-bottom: 10px;
}
#login-container input {
    height: 25px;
    width: 200px;
    margin-bottom: 10px;
    border: 2px solid #000;
}
#login-container label {
    display: flex;
    float: inline-start;
}
.forgot-password {
    margin-top: 10px;
    margin-bottom: 10px;
}
