@font-face {
    font-family: "roboto-regular", sans-serif, Verdana, Tahoma, sans-serif;
    src: url(/font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    margin: 0;
}
/* Grid header */
.grid-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "grid-logo grid-search grid-menu";
}

.grid-logo {
    grid-area: grid-logo;
}
.grid-search {
    grid-area: grid-search;
    padding-left: 50px;
    width: 100%;
}
.grid-menu {
    grid-area: grid-menu;
}
.grid-menu-large {
    grid-area: grid-menu-large;
}

/*grid gamecard */

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas:
        "one two"
        "three four"
        "five six";
}

.grid-item {
    align-content: center;
}

/* header */
header {
    position: sticky;
    background-color: #f2f2f2;
    display: cover;
    width: 100%;
    height: 7vh;
    color: #000000;
}
.grid-menu-large {
    display: none;
}
.logo {
    height: 7vh;
    width: auto;
    padding-left: 10px;
}
.search {
    color: #000000;
    margin: 0px;
}
#search-bar {
    position: relative;
    height: 3vh;
    width: 80%;
    float: left;
    margin-top: 10px;
}

/* icons */
.fa-search:hover {
    color: #f27507;
}
.navigation .fas {
    font-size: 25px;
}
.navigation .fas:active {
    color: #f27507;
}
.navigation .fas:hover {
    color: #f27507;
}

/* navigation */

.menu {
    display: none;
    text-decoration: none;
    color: #000000;
}
nav ul {
    overflow: none;
}
.navigation {
    margin-right: 10px;
    margin-top: 5px;
    overflow: visible;
    float: right;
    text-align: right;
}
nav li {
    list-style-type: none;
    overflow: none;
    padding-top: 15px;
    border: 1px black;
    background-color: #f2f2f2;
    text-align: center;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#hamburger-menu {
    display: none;
    overflow: none;
    margin: 0;
}
.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
}
nav .active {
    text-decoration: underline;
    color: #f27507;
}
/* Body */

body {
    background-color: #2d4459;
    color: white;
}
.active {
    text-decoration: underline;
}

/* main */
.headline h1 {
    color: #fff;
    text-align: center;
}
.headline {
    padding: 50px;
}
.headline img {
    width: 100px;
    height: auto;
}
.container-headline,
h2 {
    padding: 5px;
    text-align: center;
    font-size: medium;
    color: #fff;
}
.headline-promo {
    color: #f27507;
    padding: 10px;
}
.flex-container {
    display: flex;
    flex-direction: colom;
}

.gamecard {
    width: 20vh;
    height: auto;
}
.grid-item:active {
    box-shadow: 0 2px 2px 2px #000000b2;
    border: 0.5px #f27507 solid;
}
form {
    background-color: white;
    width: 10px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
/* footer */
footer {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000000d2;
    color: white;
    text-align: center;
    font-size: 0.6rem;
}
footer a {
    text-decoration: none;
    color: #fff;
    top: 20px;
}
footer a:hover {
    color: #f27507;
}
footer div {
    top: 20px;
    position: relative;
}

@media only screen and (min-width: 900px) {
    .grid-container {
        grid-template-areas: "one two three four five six";
        grid-gap: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .gamecard {
        width: 15vh;
        height: auto;
    }
    .grid-container {
        border: 1px solid #f27507;
    }
    .grid-item:hover {
        box-shadow: 0 5px 5px 5px #00000086;
        border: 2px #f27507 solid;
    }
    /* .menu-large {
        display: inline;
        text-decoration: none; 
    } */
    header {
        height: 9vh;
    }
    .menu {
        display: inline;
        float: right;
        margin-top: 15px;
    }
    .menu a {
        text-decoration: none;
    }
    .menu a:hover {
        color: #f27507;
    }
    nav .active {
        text-decoration: underline;
        color: black;
    }
    .navigation .fa-user {
        float: right;
    }
    .navigation .fa-shopping-cart {
        float: right;
        margin-right: 10px;
    }
    .menu ul li {
        display: inline-block;
    }
    .navigation i.fa-bars {
        display: none;
    }
    .headline-promo {
        text-align: left;
    }
    .headline {
        width: 80%;
        background-image: url(/images/banner.jpg);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .headline h1 {
        font-size: 4em;
    }
    .headline h2 {
        font-size: 3em;
    }
    .gamecard {
        width: 22vh;
        height: auto;
    }
    .content {
        min-height: calc(20vh - 45px);
    }
    .footer {
        height: 50px;
    }
}

@media only screen and (max-width: 400px) {
    .grid-search {
        grid-area: grid-search;
        padding-left: 20px;
        width: 100%;
    }
}
