@font-face {
    font-family: "roboto-regular", sans-serif, Verdana, Tahoma, sans-serif;
    src: url(/font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
header {
    background-color: #f2f2f2;
}
/* Grid header */
.grid-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "grid-logo grid-search grid-menu";
}

.grid-logo {
    grid-area: grid-logo;
}
.grid-search {
    grid-area: grid-search;
    padding-left: 15%;
}
.grid-menu {
    grid-area: grid-menu;
}
.grid-menu-large {
    grid-area: grid-menu-large;
}

/*grid gamecard */

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas:
        "one two"
        "three four"
        "five six";
}

.grid-item {
    box-sizing: border-box;
}

/* header */
header {
    background-color: #f2f2f2;
    display: cover;
    width: 100%;
    height: 7vh;
    color: #000000;
}
.grid-menu-large {
    display: none;
}
.logo {
    height: 7vh;
    width: auto;
    padding-left: 10px;
}
.search {
    color: #000000;
    margin: 0px;
}
#search-bar {
    align-content: center;
    position: relative;
    height: 3vh;
    width: 80%;
    margin-top: 10px;
}

/* icons */
.fa-search:hover {
    color: #f27507;
}
.navigation .fas {
    font-size: 25px;
}
.navigation .fas:active {
    color: #f27507;
}
.navigation .fas:hover {
    color: #f27507;
    cursor: pointer;
}
/* hyperlinks */
header a {
    color: #000;
}
/* navigation */

.menu {
    display: none;
    text-decoration: none;
    color: #000000;
}
nav ul {
    overflow: none;
}
.navigation {
    margin-right: 10px;
    margin-top: 5px;
    overflow: visible;
    float: right;
    text-align: right;
}
.navigation .fas {
    margin-right: 10px;
}
nav li {
    list-style-type: none;
    overflow: none;
    padding-top: 15px;
    border: 1px black;
    background-color: #f2f2f2;
    text-align: center;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#hamburger-menu {
    display: none;
    overflow: none;
    margin: 0;
}
.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
}
nav .active {
    text-decoration: underline;
}
a:hover {
    color: #f27507;
}
/* Body */

body {
    background-color: #2d4459;
    color: white;
}
/* main */
.headline h1 {
    color: #fff;
    text-align: center;
}
.headline {
    padding: 25px;
}
.headline img {
    width: 100px;
    height: auto;
}
.container-headline,
h2 {
    padding: 5px;
    text-align: center;
    font-size: medium;
    color: #fff;
}
.headline-promo {
    color: #f27507;
    padding: 10px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}

.gamecard {
    box-sizing: border-box;
    width: 20vh;
    height: auto;
}
.gamecard:hover {
    box-sizing: border-box;
    box-shadow: 0 2px 2px 2px #000000b2;
    border: 0.5px solid #f27507;
}
/* .grid-item:hover {
    box-shadow: 0 2px 2px 2px #000000b2;
    border: 0.5px solid #f27507;
} */
.grid-item:active {
    border: 1px solid #f27507;
}
form {
    background-color: white;
    width: 10px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
/* footer */
footer {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000000d2;
    color: white;
    text-align: center;
    font-size: 0.6rem;
}
footer a {
    text-decoration: none;
    color: #fff;
    top: 20px;
}
footer a:hover {
    color: #f27507;
}
footer div {
    top: 20px;
    position: relative;
}

/* gamlist page */
.gamelist-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    /* float: inline-end; */
    margin: auto;
    width: 60%;
}
.gamelist-wrapper h1 {
    color: #f27507;
    padding-bottom: 5px;
}
.gameheadline {
    border-bottom: 3px solid #f27507;
    background-color: #000;
}
.gameheadline h1 {
    color: #f27507;
    text-align: center;
}
.gamelist {
    flex-wrap: wrap;
    margin-top: 10px;
    align-self: center;
    border: 1px solid gray;
}
.gameinfo {
    width: 200px;
}
.content-list {
    min-height: calc(10vh - 45px);
}
.gamepicture {
    height: 200px;
    padding-left: 20px;
}
.gametitle {
    text-align: center;
    padding-bottom: 5px;
}
.oldprice {
    color: red;
    text-decoration: line-through;
}
.price {
    color: #15922a;
}
.game-price {
    padding-top: 10px;
    padding-bottom: 15px;
}
.gamespec {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.buy-button {
    background-image: linear-gradient(
        92.88deg,
        #15922a 9.16%,
        #48a457 43.89%,
        #15922a 64.72%
    );
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    height: 3rem;
    text-align: center;
    transition: all 0.5s;
    user-select: none;
}
.buy-button:hover {
    box-shadow: rgba(242, 117, 7, 0.658) 0 1px 30px;
    transition: 0.1s;
}
@media only screen and (min-width: 900px) {
    .grid-header {
        align-items: center;
        background-color: #f2f2f2;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "grid-logo grid-search grid-menu"
            "inlinemenu inlinemenu inlinemenu";
    }

    .inlinemenu {
        grid-area: inlinemenu;
        background: #f2f2f2;
        word-spacing: 20px;
    }
    .inlinemenu {
        grid-row: 2;
        grid-column: 2;
        text-align: center;
    }
    .menu-inline li {
        display: inline;
    }
    .menu-inline a {
        text-decoration: none;
        font-size: 20px;
    }
    .grid-container {
        grid-template-areas: "one two three four five six";
        grid-gap: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .grid-logo {
        position: absolute;
        display: block;
        margin: auto;
    }
    .logo {
        width: auto;
        height: 75px;
    }
    .gamecard {
        width: 15vw;
        height: auto;
    }
    .grid-container {
        border: 1px solid #f27507;
        box-sizing: border-box;
    }
    .gamecard:hover {
        box-sizing: border-box;
        box-shadow: 0 5px 5px 5px #00000086;
        border: 2px #f27507 solid;
    }
    .content-list {
        margin-top: 10px;
    }
    /* .menu-large {
        display: inline;
        text-decoration: none; 
    } */
    .menu {
        display: none;
        float: right;
        margin-top: 15px;
    }
    .menu a {
        text-decoration: none;
    }
    .menu a:hover {
        color: #f27507;
    }
    nav .active {
        text-decoration: underline;
    }
    .navigation .fa-user {
        float: right;
    }
    .navigation .fa-shopping-cart {
        float: right;
        margin-right: 10px;
    }
    .menu ul li {
        display: inline-block;
    }
    .navigation i.fa-bars {
        display: none;
    }
    .headline-promo {
        text-align: left;
    }
    .headline {
        width: 80%;
        background-image: url(/images/garrett-johnson-banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    .headline h1 {
        font-size: 4em;
    }
    .headline h2 {
        font-size: 3em;
    }
    .content {
        min-height: calc(20vh - 45px);
    }
    .footer {
        height: 50px;
    }
    /* Gamelist page */

    .gamelist-wrapper {
        flex-direction: row;
        justify-content: center;
        width: 90%;
        row-gap: 20px;
        column-gap: 10px;
    }
    .gamelist {
        align-self: center;
        /* flex-direction: row; */
        height: 350px;
        width: 440px;
        border: 1px solid gray;
    }
    .gameheadline {
        text-align: center;
    }
    .gameinfo {
        float: right;
    }
    .gamepicture {
        height: 300px;
        padding-left: 0;
    }
    .buy-button {
        height: 3rem;
        padding: 0 1.6rem;
    }
    .game-price {
        padding-top: 96px;
        padding-bottom: 15px;
    }
    .gamespec {
        padding-right: 1px;
        border: 1p solid gray;
    }
}

@media only screen and (max-width: 900px) {
    .grid-header {
        grid-template-areas: "grid-logo grid-search grid-menu";
    }
    .inlinemenu {
        display: none;
    }
}
@media only screen and (max-width: 1190px) {
    .headline h1 {
        font-size: 3em;
    }
    .headline h2 {
        font-size: 2em;
    }
}
@media only screen and (min-width: 901px) {
    .content-list {
        min-height: calc(7vh - 45px);
    }
}

@media only screen and (max-width: 400px) {
    .grid-header {
        grid-template-areas: "grid-logo grid-search grid-menu";
    }
    .grid-search {
        grid-area: grid-search;
        padding-left: 20px;
        width: 100%;
    }
    .inlinemenu {
        display: none;
    }
    .navigation .fas {
        font-size: 15px;
    }
    header .navigation {
        margin-right: 2px;
        margin-top: 10px;
    }
}
