@font-face {
    font-family: "roboto-regular", sans-serif, Verdana, Tahoma, sans-serif;
    src: url(/font/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
/* header */
header {
    position: sticky;
    background-color: #f2f2f2;
    display: cover;
    width: 100%;
    height: 7vh;
    color: #000000;
}
.logo {
    height: 5vh;
    width: auto;
}
/* .flex-container-header {
    display: flex;
    display: inline;
} */
#search-bar {
    float: right;
    height: fit-content;
    overflow: all;
    position: relative;
    height: 3vh;
    width: 25vh;
    right: 90px;
}
.navigation .fas {
    font-size: 25px;
}
.navigation .fas:active {
    color: #f27507;
}
.navigation .fas:hover {
    color: #f27507;
}

/* navigation */

nav {
    display: none;
    text-decoration: none;
    color: #000000;
}
nav ul {
    /* border: 1px solid rgb(0, 0, 0);
    background-color: #0000004b; */
    overflow: none;
}
.navigation {
    overflow: visible;
    float: right;
    text-align: right;
}
.navigation label {
}
nav li {
    list-style-type: none;
    overflow: none;
    padding-top: 15px;
}
#hamburger-menu:checked ~ nav {
    display: block;
}
#hamburger-menu {
    display: none;
    overflow: none;
    margin: 0;
}
.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000000;
}

/* Body */

body {
    background-color: #2d4459;
    color: white;
}
.active {
    text-decoration: underline;
}

/* main */
.headline h1 {
    color: #fff;
    text-align: center;
    top: -40px;
}
.headline {
}
.container-headline,
h2 {
    text-align: center;
    font-size: medium;
    color: #fff;
}
.headline-promo {
    color: #f27507;
    padding: 10px;
}
.flex-container {
    display: flex;
    margin: 5vh;
    align-items: center;
    justify-content: center;
}
/* left-content */
.flex-left {
    flex: 1;
}
/* right-content */
.flex-right {
    flex: 1;
    /* display: inline-table;
    flex-direction: column;
    justify-content: space-evenly; */
}

.gamepromo {
    position: relative;
    width: 20vh;
    height: auto;
}
.gamepromo:hover {
    box-shadow: 0 5px 5px 5px #000000;
    border: 0.5px #f27507 solid;
}
form {
    background-color: white;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}
/* footer */
footer {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #000000d2;
    color: white;
    text-align: center;
    font-size: 0.6rem;
}
footer a {
    text-decoration: none;
    color: #fff;
    top: 20px;
}
footer a:hover {
    color: #f27507;
}
footer div {
    top: 20px;
    position: relative;
}

@media only screen and (max-width: 1200px) {
}
